@using Microsoft.AspNetCore.Identity
@inject NavigationManager NavigationManager
@using BlazorApp.Calendar.Models

@page "/"

<AuthorizeView>
    <Authorized>
        @* <p>Ежедневник</p> *@

        <PageTitle>Ежедневник</PageTitle>

       @*  @foreach(var item in context.User.Claims)
        {
            
            <h3>@item.Type @item.Value @item.Properties @item.Issuer @item.OriginalIssuer</h3>
        } *@
    </Authorized>
    <NotAuthorized>
        <a href="auth/google-login" class="btn btn-secondary" style="margin-top = 20px">Войти</a>
    </NotAuthorized>
</AuthorizeView>